// COLORS
// $color-primary:         #c7885e;
// $color-primary-light:   #d09b77;
// $color-primary-dark:    #be7545;

$color-logo-bkgd:       #e0d8c3;
$color-primary:         #532403;
$color-primary-light:   #733305;
$color-primary-dark:    #321602;

$color-grey-dark:       #777;
$color-grey-light:      #a8a8a8;
$color-grey:            #999;

$color-white:           #fff;
$color-white-lighter:   #eeeeee;
$color-white-light:     #e7e7e7;

$color-black:           #000;
$color-black-light:     #111111;

$color-invalid:         #a12b2b;
$color-valid:           #49ad45;

//GRID
$grid-width:            114rem;
$gutter-horizontal:     6rem;
$gutter-vertical:       4rem;

$gutter-horizontal-null: 0px;


//FONT SIZE
$default-font-size:     1.8rem;
$medium-font-size:      1.6rem;
$smaller-font-size:     1.4rem;

