.list {

    &__title {
        font-family: Yanone, "Lato", sans-serif;
        color: $color-primary-dark;
        margin-bottom: 1rem;
        margin-left: 2rem;
        padding-bottom: 3px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 2rem;
        position: relative;
        display: inline-block;

        @include respond (phone) { font-size: 1.8rem;}
        @include respond (xxs-phone) { font-size: 1.5rem;}

        &:not(:first-child) {margin-top: 1.5rem;}

        &::after {
            @include underline(2px, 50%);
            background-color: $color-primary-dark;
        }

        &--acomp {
            font-size: 1.6rem;
            padding-bottom: 2px;
            @include respond (phone) { font-size: 1.4rem;}
            @include respond (xxs-phone) { font-size: 1.2rem;}
        }
    }

    &__group {

        font-family: Yanone, "Lato", sans-serif;

        &__box {
            text-align: left;
            margin-bottom: 1rem;
            width: 100%;
            color: $color-primary-dark;
        }
    }

    &__group__box &__item:not(:last-child) {
        margin-bottom: 2px;
    }

    &__item {

        &,
        &--acomp {
            font-family: Yanone, "Lato", sans-serif; 
            margin: 0 1rem;
            margin-bottom: 1rem;
        }
        font-size: $smaller-font-size;
        @include respond (phone) { font-size: 1.2rem;}
        @include respond (xxs-phone) { font-size: 1.0rem;}

        &--acomp {
            font-size: 1.2rem;
        @include respond (phone) { font-size: 1rem;}
        @include respond (xxs-phone) { font-size:.8rem;}

        }

        &__box {position: relative;}

        &__box:hover &__description {
            transform: translateY(110%);
            opacity: 1;
            visibility: visible;
        }

        &__box, 
        &--acomp {
            @include clearfix;
            color: $color-primary-dark;
        }

        &__box &__name {
            @include respond (tb-large) { max-width: 60%}
            @include respond (phone) { max-width: 50%}
        }

        &__name {
            float: left;
            max-width: 80%;
        }

        &__price {
            float: right;
            display: block;
            text-align: right;
            max-width: 16rem;
        }

        &__money,
        &__value {
            display: block;
            width: 5rem;
        }

        &__description {
            padding: .4rem .6rem;
            position: absolute;
            bottom: 0;
            left: 0;
            font-size: 1.2rem;
            width: 85%;
            font-weight: 100;
            color: $color-logo-bkgd;
            background-color: $color-primary-dark;
            border-radius: 3px;
            box-shadow: 1px 1px 2px rgba($color-black, .7);
            opacity: 0;
            visibility: hidden;
            transform: translateY(140%);
            transition: .4s;
            z-index: 1;

            
        @include respond (phone) { font-size: 1.0rem;}
        @include respond (xxs-phone) { font-size: .8rem;}
        }

    }

}