.menu {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 4rem 0;
    background-color: rgba($color-black, .8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .2s;

    &__page {width: 100%;}

    
    @include respond(xs-phone){padding: 2rem 0;}

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__box {
        opacity: 1;
        transform: scale(1);
    }
    
    &:target + &__back__close {
        opacity: 1;
        visibility: visible;
    }

    &__back__close {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 999;
        opacity: 0;
        visibility: hidden;
    }

    &__box {
        z-index: 99999999;
        overflow: hidden;
        opacity: 0;
        width: 80%;
        height: 100%;
        max-height: 80vh;
        max-width: 60rem;
        margin: 0 auto;
        padding: 2rem 1.5rem;
        position: relative;
        background-color: $color-logo-bkgd;
        box-shadow: 0 2rem 3rem rgba($color-primary, .3);
        border-radius: 2px;
        transform: scale(.3);
        transition: all .4s .4s;


        &__itens {
            display: block;
            height: 55vh;
            overflow: scroll;
            -ms-overflow-style: none;

            &::-webkit-scrollbar {display: none;}
        }
    }

    &__content {

        &__group__box {
            text-align: left;
            margin-bottom: 1rem;
            color: $color-primary-dark;
        }

        &__group__box &__item:not(:last-child) {
            margin-bottom: 2px;
        }

        &__item {
            margin-left: 1rem;
            font-size: 1.3rem;
        }

        &__title {
            margin-bottom: 1rem;
            margin-left: 2rem;
            padding-bottom: 3px;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 2rem;
            position: relative;
            display: inline-block;

            &::after {
                @include underline(2px, 50%);
                background-color: $color-primary-dark;
            }
        }
    }

    &__close {
        &:link,
        &:visited {
            color: $color-primary-dark;
            position: absolute;
            top: 1.5rem;
            right: 2.5rem;
            font-size: 4rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;

            @include respond(s-phone) {
                top: 1rem;
                right: 2rem;
                font-size: 3rem;
            }
            @include respond(xs-phone) {
                top: .5rem;
                right: 1.5rem;
                font-size: 2.5rem;
            }

            &:hover {
                color: $color-primary-light;
            }
        }
    }

    &__buttons {
        color: $color-primary-dark;
        font-size: 2rem;
        font-family: Lato;
        font-weight: 700;
        display: inline-block;

        &:first-child { margin-right: 2rem;}
    }

    &__dots {
        display: inline-block;
        zoom: 1;
        height: 20px;
        visibility: visible;
        cursor: hand;
        text-align: center;
        
        & span {
            background-color: $color-primary-dark !important;
            width: 10px;
            height: 10px;
            margin: 10px 7px;
    
            &:not(:last-child) {margin-left: 4px;}
        }

    }
    


}