.section-about {
    margin: 15rem 2rem;
    padding: 15rem 0;
    background-color: $color-white-lighter;

    @include respond(tb-landscape) {
        padding: 12rem 0;
        margin: 12rem 2rem;
    }

    @include respond(tb-large) {
        padding: 9rem 0;
        margin: 9rem 1.5rem;
    }
}

.section-gallery {
    position: relative;
    height: 70vw;
    max-height: 600px;
    overflow: hidden;
    margin-bottom: 15rem;

    @include respond(tb-landscape) {
        margin-bottom: 12rem;
    }

    @include respond(tb-large) {
        margin-bottom: 9rem;
    }
}

.section-contact {
    background-image: linear-gradient(to bottom,
        rgba($color-black, .3),
        rgba($color-black, .3)),
        url(../img/canto_01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    padding: 6rem 0;

    @include respond(tb-large) {
        padding: 3rem 0;
    }

}

.section-location {
    margin: 15rem 2rem;
    padding: 12rem 0;
    background-color: $color-white-lighter;

    @include respond(tb-landscape) {
        padding: 9rem 0;
        margin: 12rem 2rem;
    }

    @include respond(tb-large) {
        padding: 6rem 0;
        margin: 9rem 1.5rem;
    }
}